{%load static%}

    <div class="footer">
        <div class='conteiner_footer grid-container'>
            <ul class="grid-element">Контакты
                <!-- <li> Контакты</li> -->
                <li></li>
                <li class="contact_img">
                    <img src="{% static "images/whatsapp.png"%}" >
                    <img src="{% static "images/instagram.png"%}" >
                    <img src="{% static "images/telegram.png"%}" >
                    <img src="{% static "images/vk.png"%}" >
                </li>
                <li> +375 29 391 38 72 </li>
                <li> bonsai@mail.ru</li>
            </ul>


            <ul class="grid-element">
                <li class="confidentiality">Политика конфиденциальности </li>
                <li class="contractoffer">Договор публичной оферты </li>
                <li class="payment"><img class="payment" src="{% static "images/payment.png"%}"></li>
            </ul>


            <ul class="grid-element">Режим работы

                <li> </li>
                <li> С 10.00 до 20.00</li>
                <li>Ежедневно, без выходных</li>
                <li>г.Минск пр-т Жукова д.47</li>
            </ul>


        </div>
    </div>

