{%extends "main.html"%}

{%load static%}

{% block title %}
Bonsai.by
{% endblock %}

{% block content %}

<div class="index">
    <img class= "index_img_1" src= "{%static "images/index_1.png"%}"> 
    <p class="index_text_green" ><u id="index_content"></u></p>
    <p class="index_text" id="other_content"></p>
    <a class="index_to_catalog" href="./catalog/1">&#10148;</a>
   
    <img class= "index_img_2" src= "{%static "images/index_2.jpg"%}"> 
    <p class="index_text_2" id="next_content"></p>
    <p class="index_text_2" id="next_content_2"></p>

    <div class="index_projectss" > Галерея наших проектов
        <div class="index_projects">
            <div class="index_examples">
                <img class='index_example' src="{% static "images/projects/1.jpg" %}" alt="">
                <img class='index_example' src="{% static "images/projects/2.jpg" %}" alt="">
                <img class='index_example' src="{% static "images/projects/3.jpg" %}" alt="">
                <img class='index_example' src="{% static "images/projects/4.jpg" %}" alt="">
                <img class='index_example' src="{% static "images/projects/5.jpg" %}" alt="">
                <img class='index_example' src="{% static "images/projects/6.jpg" %}" alt="">
                <img class='index_example' src="{% static "images/projects/7.jpg" %}" alt="">
                <img class='index_example' src="{% static "images/projects/8.jpg" %}" alt="">
                <img class='index_example' src="{% static "images/projects/9.jpeg" %}" alt="">
                <img class='index_example' src="{% static "images/projects/10.jpg" %}" alt="">
                <img class='index_example' src="{% static "images/projects/11.png" %}" alt="">
                <img class='index_example' src="{% static "images/projects/12.jpg" %}" alt="">
                <img class='index_example' src="{% static "images/projects/13.jpg" %}" alt="">
                <img class='index_example' src="{% static "images/projects/14.jpg" %}" alt="">
            </div>
        </div>
    </div>
    <div class="index_about">
        <img class="index_img_3" src="{%static "images/index_3.jpg" %}">
        <div class="index_about_us_item1">BONSAI.BY - это торговый интернет-портал,помогающий создать комфорт 
            и уют в вашем доме. <br/>Наши декоративные растения заряжают энергией, 
            способствуют созданию настроения и гармонии с природой. 
        </div>

        <img class="index_img_4" src="{%static "images/index_4.jpg" %}">
        <div class="index_about_us_item2">
            Не знаете, какое растение впишется в ваш интерьер? <br/>Наши флористы помогут вам сделать правильный выбор.
        </div>
        <div class="index_contacts">
            <div class="index_contacts_info">
                <div>
                Наш магазин находится в центре Минска,<br>
                что позволяет с комфортом добраться из любой <br>
                точки города, не затрачивая лишних усилий<br>
                Гостям магазина предоставляется бесплатная парковка 
                </div>
                <ul>
                <li class="index_cont_list"><img class="image" src="{% static "images/b_location.png"%}"> г. Минск пр-т Жукова д.47</li>
                <li class="index_cont_list"><img class="image" src="{% static "images/b_phone.png"%}"> + 375 29 391 38 72</li>
                <li class="index_cont_list"><img class="image" src="{% static "images/b_time.png"%}"> c 10.00 до 20.00 ежедневно</li>
                <li class="index_cont_list"><img class="image" src="{% static "images/b_mail.png"%}"> bonsai@mail.ru</li>
                </ul>
            </div>

            <div class="index_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6469.912374899436!2d27.50809336330445!3d53.88254108080133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd00f46b51bc7%3A0xf60fbad150c1ec6f!2z0L_RgNC-0YHQvy4g0JbRg9C60L7QstCwIDQ1LCDQnNC40L3RgdC6LCDQnNC40L3RgdC60LDRjyDQvtCx0LvQsNGB0YLRjCAyMjAwODk!5e0!3m2!1sru!2sby!4v1712511700303!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        
</div>
<a class="index_to_index" href="{% url "shop:index"%}">&#10148;</a>
<script>

</script>
{% endblock %}
